<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <title>TestApp</title>
</head>

<body>
    <div id="container">
        <h2>
            <span id="numx" th:text=${numx}></span> + <span id="numy" th:text=${numy}></span> = <span class="cmd"
                id="add" th:text=${add}></span>
            <br>
            <span id="numx" th:text=${numx}></span> - <span id="numy" th:text=${numy}></span> = <span class="cmd"
                id="substract" th:text=${substract}></span>
            <br>
            <span id="numx" th:text=${numx}></span> * <span id="numy" th:text=${numy}></span> = <span class="cmd"
                id="multiply" th:text="${multiply}"></span>
            <br>
            <span id="numx" th:text=${numx}></span> / <span id="numy" th:text=${numy}></span> = <span class="cmd"
                id="divide" th:text="${divide}"></span>
            <br>
            PodName: <span class="cmd" th:text=${podname}></span>
        </h2>
    </div>
</body>

</html>